defreg/schemas/defReg-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.nic.name/epp/defReg-1.0"
        xmlns:defReg="http://www.nic.name/epp/defReg-1.0"
        xmlns:epp="urn:ietf:params:xml:ns:epp-1.0"
        xmlns:eppcom="urn:ietf:params:xml:ns:eppcom-1.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

<!--
Import common element types.
-->
  <import namespace="urn:ietf:params:xml:ns:eppcom-1.0"
          schemaLocation="eppcom-1.0.xsd"/>
  <import namespace="urn:ietf:params:xml:ns:epp-1.0"
          schemaLocation="epp-1.0.xsd"/>

  <annotation>
    <documentation>
      Extensible Provisioning Protocol v1.0
      .name defensive registration provisioning schema.
    </documentation>
  </annotation>

<!--
Child elements found in EPP commands.
-->
  <element name="check" type="defReg:checkType"/>
  <element name="create" type="defReg:createType"/>
  <element name="delete" type="defReg:roidOnlyType"/>
  <element name="info" type="defReg:infoType"/>
  <element name="renew" type="defReg:renewType"/>
  <element name="transfer" type="defReg:transferType"/>
  <element name="update" type="defReg:updateType"/>

<!--
Child elements of the <check> command.
-->
  <complexType name="checkType">
    <sequence>
      <element name="name" type="defReg:nameType"
       maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="nameType">
    <simpleContent>
      <extension base="eppcom:labelType">
        <attribute name="level" type="defReg:levelType"
         use="required"/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType name="levelType">
    <restriction base="token">
      <enumeration value="premium"/>
      <enumeration value="standard"/>
    </restriction>
  </simpleType>

<!--
Child elements of the <create> command.
-->
  <complexType name="createType">
    <sequence>
      <element name="name" type="defReg:nameType"/>
      <element name="registrant" type="eppcom:clIDType"/>
      <element name="tm" type="defReg:tmType"
       minOccurs="0"/>
      <element name="tmCountry" type="defReg:ccType"
       minOccurs="0"/>
      <element name="tmDate" type="date"
       minOccurs="0"/>
      <element name="adminContact" type="eppcom:clIDType"/>
      <element name="period" type="defReg:periodType"
       minOccurs="0"/>
      <element name="authInfo" type="defReg:authInfoType"/> 
    </sequence>
  </complexType>

  <complexType name="authInfoType">
	<choice>
      		<element name="pw" type="eppcom:pwAuthInfoType"/>
      		<element name="ext" type="eppcom:extAuthInfoType"/>
    	</choice> 
  </complexType>

  <simpleType name="ownerType">
    <restriction base="token">
      <minLength value="1"/>
      <maxLength value="64"/>
    </restriction>
  </simpleType>

  <simpleType name="tmType">
    <restriction base="token">
      <minLength value="1"/>
      <maxLength value="64"/>
    </restriction>
  </simpleType>

  <simpleType name="ccType">
    <restriction base="token">
      <length value="2"/>
    </restriction>
  </simpleType>

  <complexType name="periodType">
    <simpleContent>
      <extension base="defReg:pLimitType">
        <attribute name="unit" type="defReg:pUnitType"
         use="required"/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType name="pLimitType">
    <restriction base="unsignedShort">
      <minInclusive value="1"/>
      <maxInclusive value="99"/>
    </restriction>
  </simpleType>

  <simpleType name="pUnitType">
    <restriction base="token">
      <enumeration value="y"/>
      <enumeration value="m"/>
    </restriction>
  </simpleType>

<!--
Child element of commands that require a ROID.
-->
  <complexType name="roidOnlyType">
    <sequence>
      <element name="roid" type="eppcom:roidType"/>
    </sequence>
  </complexType>


<!--
Child elements of the <info> command.
-->
<complexType name="infoType">
	<sequence>
      	<element name="roid" type="eppcom:roidType"/>
		<element name="authInfo" type="defReg:authInfoType" 
		 minOccurs="0"/> 
    	</sequence>
</complexType>


<!--
Child elements of the <renew> command.
-->
  <complexType name="renewType">
    <sequence>
      <element name="roid" type="eppcom:roidType"/>
      <element name="curExpDate" type="date"/>
      <element name="period" type="defReg:periodType"
       minOccurs="0"/>
    </sequence>
  </complexType>

<!--
Child elements of the <transfer> command.
-->
  <complexType name="transferType">
    <sequence>
      <element name="roid" type="eppcom:roidType"/>
      <element name="period" type="defReg:periodType"
       minOccurs="0"/>
      <element name="authInfo" type="defReg:authInfoType" minOccurs="0"/> 
    </sequence>
  </complexType>

<!--
Child elements of the <update> command.
-->
  <complexType name="updateType">
    <sequence>
      <element name="roid" type="eppcom:roidType"/>
      <element name="add" type="defReg:addRemType"
       minOccurs="0"/>
      <element name="rem" type="defReg:addRemType"
       minOccurs="0"/>
      <element name="chg" type="defReg:chgType"
       minOccurs="0"/>
    </sequence>
  </complexType>

<!--
Data elements that can be added or removed.
-->
  <complexType name="addRemType">
    <sequence>
      <element name="status" type="defReg:statusType"
       minOccurs="0" maxOccurs="12"/>
    </sequence>
  </complexType>


<!--
Data elements that can be changed.
-->
  <complexType name="chgType">
    <sequence>
      <element name="registrant" type="eppcom:clIDType"
       minOccurs="0"/>
      <element name="tm" type="defReg:tmType"
       minOccurs="0"/>
      <element name="tmCountry" type="defReg:ccType"
       minOccurs="0"/>
      <element name="tmDate" type="date"
       minOccurs="0"/>
      <element name="adminContact" type="eppcom:clIDType"
       minOccurs="0"/>
      <element name="authInfo" type="defReg:authInfoChgType" 
       minOccurs="0"/> 
    </sequence>
  </complexType>



<!--
Allow the authInfo value to be nullified by including an
empty element within the choice.
-->
  <complexType name="authInfoChgType">
	<choice>
		<element name="pw" type="eppcom:pwAuthInfoType"/>
		<element name="ext" type="eppcom:extAuthInfoType"/>
		<element name="null"/>
	</choice>
  </complexType>

<!--
Child response elements.
-->
  <element name="chkData" type="defReg:chkDataType"/>
  <element name="creData" type="defReg:creDataType"/>
  <element name="infData" type="defReg:infDataType"/>
  <element name="renData" type="defReg:renDataType"/>
  <element name="trnData" type="defReg:trnDataType"/>

<!--
<check> response elements.
-->
  <complexType name="chkDataType">
    <sequence>
      <element name="cd" type="defReg:checkResType"
       maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="checkResType">
    <sequence>
      <element name="name" type="defReg:checkNameType"/>
      <element name="reason" type="eppcom:reasonType"
       minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="checkNameType">
    <simpleContent>
      <extension base="defReg:nameType">
        <attribute name="avail" type="boolean"
         use="required"/>
      </extension>
    </simpleContent>
  </complexType>

<!--
<create> response elements.
-->
  <complexType name="creDataType">
    <sequence>
      <element name="roid" type="eppcom:roidType"/>
      <element name="name" type="defReg:nameType"/>
      <element name="crDate" type="dateTime"/>
      <element name="exDate" type="dateTime"
       minOccurs="0"/>
    </sequence>
  </complexType>

<!--
<info> response elements.
-->
  <complexType name="infDataType">
    <sequence>
      <element name="roid" type="eppcom:roidType"/>
      <element name="name" type="defReg:nameType"/>
      <element name="registrant" type="eppcom:clIDType"
       minOccurs="0"/>
      <element name="tm" type="defReg:tmType"
       minOccurs="0"/>
      <element name="tmCountry" type="defReg:ccType"
       minOccurs="0"/>
      <element name="tmDate" type="date"
       minOccurs="0"/>
      <element name="adminContact" type="eppcom:clIDType"
       minOccurs="0"/>
      <element name="status" type="defReg:statusType"
	   minOccurs="0" maxOccurs="12"/>
      <element name="clID" type="eppcom:clIDType"/>
      <element name="crID" type="eppcom:clIDType" 
       minOccurs="0"/>
      <element name="crDate" type="dateTime"
       minOccurs="0"/>
      <element name="upID" type="eppcom:clIDType"
       minOccurs="0"/>
      <element name="upDate" type="dateTime"
       minOccurs="0"/>
      <element name="exDate" type="dateTime"
       minOccurs="0"/>
      <element name="trDate" type="dateTime"
       minOccurs="0"/>
      <element name="authInfo" type="defReg:authInfoType" 
       minOccurs="0"/> 
    </sequence>
  </complexType>

<!--
Status is a combination of attributes and an optional human-readable
message that may be expressed in languages other than English.
A list of messages should be defined in the Programmer's Guide for
this mapping.
-->
  <complexType name="statusType">
    <simpleContent>
      <extension base="normalizedString">
        <attribute name="s" type="defReg:statusValueType"
         use="required"/>
        <attribute name="lang" type="language"
         default="en"/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType name="statusValueType">
    <restriction base="token">
      <enumeration value="clientDeleteProhibited"/>
      <enumeration value="clientRenewProhibited"/>
      <enumeration value="clientTransferProhibited"/>
      <enumeration value="clientUpdateProhibited"/>
       <enumeration value="ok"/>
      <enumeration value="pendingDelete"/>
      <enumeration value="pendingTransfer"/>
      <enumeration value="serverDeleteProhibited"/>
      <enumeration value="serverRenewProhibited"/>
      <enumeration value="serverTransferProhibited"/>
      <enumeration value="serverUpdateProhibited"/>
    </restriction>
  </simpleType>

<!--
<renew> response elements.
-->
  <complexType name="renDataType">
    <sequence>
      <element name="roid" type="eppcom:roidType"/>
      <element name="exDate" type="dateTime"
       minOccurs="0"/>
    </sequence>
  </complexType>

<!--
<transfer> response elements.
-->
  <complexType name="trnDataType">
    <sequence>
      <element name="roid" type="eppcom:roidType"/>
      <element name="trStatus" type="eppcom:trStatusType"/>
      <element name="reID" type="eppcom:clIDType"/>
      <element name="reDate" type="dateTime"/>
      <element name="acID" type="eppcom:clIDType"/>
      <element name="acDate" type="dateTime"/>
      <element name="exDate" type="dateTime"
       minOccurs="0"/>
    </sequence>
  </complexType>

<!--
End of schema.
-->
</schema>
